
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Calistoga&family=Francois+One&family=Fredoka+One&family=Montserrat:wght@300&family=Roboto:wght@100&family=Rubik+Vinyl&display=swap');

body{
    height: 100vh;
    display: flex;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    /* -webkit-user-select: none; */
    -webkit-app-region: drag;
}

#pass-box{
    border-radius: 10px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.12);
    background-color: aquamarine;
    padding: 30px;
    user-select: none;
}

h3, h1, h5, h2, h6{
    font-size: 17pt;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;

}

h1{
    font-size: 100px;
    font-family: Calistoga;
}

h2{
    font-size: 20pt;
    color: brown;
    font-family: 'Montserrat', sans-serif;
}

h6{
    font-size: 13pt;
    font-weight: 200;
    color: blue;
    text-transform: uppercase;
    font-weight: 400;
}

.title-loading{
    color: blueviolet;
    font-size: 20pt;
    font-family: 'Roboto', sans-serif;
}

