body{
    margin: 0;
    padding: 0;
    background-color: #252526;
    display: flex;
}

#container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    -webkit-app-region: drag;
}

#container .title{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: center;    
    text-align: center;
    padding: 10px;
}

#container .title h1{
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-size: 28px;
}

#container .title .logo{
    background: url('https://via.placeholder.com/100x40') no-repeat center center /cover;
    height: 40px;
    width: 100px;
}

#container .middle{
    display: flex;
    flex: auto;
    background-color: bisque;
}

#container .middle button{
    border-radius: 10px;
    margin: 10pt;
    border: 0;
    min-width: 400px;
    min-height: 100px;
    background-color: blueviolet;
    font-size: 30px;
    color: aliceblue;
}


